<!-- automated_student_register/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Automated Student Register{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header class="mt-5">
            <h1>Automated Student Register System</h1>
            <nav>
                <a href="/" class="btn btn-info">Admin</a>
                <a href="/add_student" class="btn btn-primary">Add Student</a>
                <a href="/students" class="btn btn-secondary">View Student List</a>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="mt-5">
            <p>&copy; 2023 Automated Student Register System</p>
        </footer>
    </div>
</body>
</html>

